$yellow: #EFBD0E;
// $orange: #C3791A;
$orange: #e08714;
$black: #322b1e;
$gray: #84827e;
$light-gray: lighten($gray, 30%);
$white: #f5eedf;

$good-radius: 6px;
$good-border: 3px solid $black;

$spacing-unit: 1.2rem;

// General stuff

* {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    color: $black;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

body {
    background: $white;
}

.game-page {
    padding: $spacing-unit * 2;
}

:disabled {
    opacity: 0.5;
}

.app {
    text-align: center;
}

button {
    appearance: none;
    background: $yellow;
    padding: $spacing-unit / 2;
    display: inline-block;
    border: $good-border;
    border-radius: $good-radius;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s transform;

    &:not(:disabled):hover {
        transform: scale(1.05);
    }

    &:disabled {
        cursor: default;
    }
}

input[type=text] {
    appearance: none;
    border: $good-border;
    font-size: 1em;
    padding: $spacing-unit / 2;

    &:focus {
        outline: none;
        border-color: $yellow;
    }
}

// Header

.header {
    padding-bottom: $spacing-unit;
    border-bottom: 1px solid $gray;
    display: inline-block;
    margin-bottom: $spacing-unit;
}

.title {
    font-size: 5rem;
    line-height: 1em;
}

.subtitle {
    font-size: 1.5rem;
}

