@import "App.scss";

.thing-announcement {
    display: inline-block;
    
}

.player-name-button-header {
    display: inline-block;
    margin-bottom: $spacing-unit;
    padding-top: $spacing-unit;
    border-top: 1px solid $gray;
    margin-top: $spacing-unit;
}

.player-name-button:not(:last-child) {
    margin-right: $spacing-unit / 2;
}