@import "App.scss";

.game-setup-header {
    margin-bottom: $spacing-unit;
}

.game-setup-page {
    display: inline-block;
}

.room-code-box {
    background: $yellow;
    padding: $spacing-unit;
    display: inline-block;
    margin-bottom: $spacing-unit;
    border: $good-border;
}

.current-players-list {
    margin-bottom: $spacing-unit;
}

.thing-input-box-wrapper {
    margin-top: $spacing-unit;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.thing-input-box {
    margin-right: $spacing-unit / 2;
    margin-bottom: 0;

    @media (max-width: 600px) {
        margin-right: 0 !important;
        margin-bottom: $spacing-unit / 2;
        width: 100%;
    }
}

.thing-input-form {
    display: inline-block;
    padding-top: $spacing-unit;
    border-top: 1px solid $gray;
}

.question-box {
    margin-bottom: $spacing-unit;
}