@import "App.scss";

// Welcome page

.welcome-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-page {
    display: inline-block;
    width: calc(min(800px, 100%));

    .title {
        font-size: 5rem;
    }
}

.game-description {
    max-width: 300px;
    display: inline-block;
    margin-bottom: $spacing-unit;
}

.name-form {
    margin-bottom: $spacing-unit;
    
    @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.enter-name-label {
    padding-right: $spacing-unit;

    @media (max-width: 600px) {
        padding-right: 0;
        padding-bottom: $spacing-unit / 2;
    }
}

.enter-name {
    max-width: 400px;
    display: inline-block;
}

.room-buttons {
    @media (max-width: 400px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.room-buttons > *:not(:last-child) {
    margin-right: $spacing-unit;

    @media (max-width: 400px) {
        margin-right: 0;
        margin-bottom: $spacing-unit / 2;
    }
}

.join-room {
    background: $orange;
}

.enter-room-code-label {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit / 2;
}

.enter-room-code {
    display: inline-block;
    margin-right: $spacing-unit;
    width: calc(min(6em, 100%));
}